<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :line_items do |ff| %>
    <div class="field">
      <%= "Item #{ff.index + 1}" %>
    </div>
    <div class="field">
      <%= ff.text_field :name, placeholder: "Name" %>
      <%= ff.text_field :quantity, placeholder: "Quantity" %>
      <%= ff.text_field :price, placeholder: "Price" %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
