<p id="notice"><%= notice %></p>

<h1>Listing Receipts</h1>

<table>
  <thead>
    <tr>
      <th>Total</th>
      <th>Sales tax</th>
      <th colspan="3"> Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.total %></td>
        <td><%= receipt.sales_tax %></td>
        <td><%= link_to 'Show', receipt %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipt', new_receipt_path %>
