<p id="notice"><%= notice %></p>

<div class="box-body">
  <table id="example2" class="table table-bordered table-striped table-responsive">
    <thead>
    <tr>
      <td>
        <b><%= t('name')%></b>
      </td>
      <td>
        <b><%= t('quantity')%></b>
      </td>
      <td>
        <b><%= t('price')%></b>
      </td>
    </tr>
    </thead>
    <tbody>
      <% @receipt.line_items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.quantity %></td>
          <td><%= ((item.price + item.tax_amount) / 0.50).round(2) * 0.50 %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <br />
</div>

<p>
  <strong>Total:</strong>
  <%= @receipt.total %>
</p>

<p>
  <strong>Sales tax:</strong>
  <%= @receipt.sales_tax %>
</p>

<%= link_to 'Back', receipts_path %>
